<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "head.html" . -}}
    <link rel="icon" type="image/png" href="{{ "/favicon.png" | relURL }}?v=1">
</head>
<body style="margin: 0; background: black; color: white; font-family: monospace;">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <a href="{{ "/" | absURL }}" style="cursor: pointer; display: block;">
        <img src="{{ "/imagelogo.png" | absURL }}" alt="Logo" 
             style="position: fixed; top: 20px; z-index: 9999; width: 100px; height: auto; pointer-events: auto;
             {{ if eq .Section "posts" }} right: 20px; {{ else }} left: 20px; {{ end }}">
    </a>

    <div style="position: relative; z-index: 20;">
        {{- block "main" . -}}{{- end -}}
    </div>
</body>
</html>