{{ define "main" }}
<div style="padding: 50px; text-align: left; color: white; font-family: sans-serif;">
    <h1 style="color: #00d4ff;">{{ .Title }}</h1>
    <p style="color: #888;">{{ .Date.Format "January 2, 2006" }}</p>
    <hr style="border: 0.5px solid #333;">
    
    <div style="line-height: 1.6; font-size: 1.1rem; margin-top: 20px;">
        {{ .Content }}
    </div>
    
    <br>
    <a href="/posts/" style="color: #666; text-decoration: none;">← Back to Projects</a>
</div>
    <div style="margin-top: 50px; border-top: 1px solid #333;">
        {{ partial "footer.html" . }}
    </div>
{{ end }}