{{ define "main" }}
<div class='mainbg' style="display: flex; flex-direction: column; min-height: 100vh;">
    
    <div class='content' style="flex: 1; padding: 40px;">
        <h1 class='contentheading'>{{ .Title }}</h1>
        <div class="post-content" style="line-height: 1.6; color: #ffffff;">
            {{ .Content }}
        </div>
        
        <div style="margin-top: 50px;">
            <a href="/posts/" style="text-decoration: none; color: #ffffff;">← Back to Projects</a>
        </div>
    </div>

    {{ partial "footer.html" . }}
</div>
{{ end }}